body {
  background: url("../img/lar background.jpg") no-repeat center center fixed;
  background-color: #e6e8f0;
  background-size: cover;
  height: 100%;
}

#kc-logo-text{

}

#password, #username{
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: auto;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

#kc-login, #kc-pw-resub{
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to right, #00176b, #283d8a);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: auto;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}


#kc-content{
  background-color: #FFFFFF;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 16%;
  background-size: 120px 120px;
  width: 400px;
  height: 500px;
  margin: 7em auto;
  border-radius: 5px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#kc-content-wrapper{
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  height: 485px;
}

#kc-form{

  height: 200px;
  width: 300px;
  background-repeat: no-repeat;
  margin: 150px auto;
}

#kc-reset-password-form{
  background-color: #FFFFFF;
}


.forgot {
text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
color: #283d8a;
padding-top: 10px;
}

.altlog {
text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
color: #283d8a;
}

.logo {
width: 150px;
height: 150px;
}

.logo-cont {
text-align: center;
padding-top: 20px;
}

.icon {
background: url('images/uol logo.png');
background-size: contain;
height: 18px;
width: 18px;
display: inline-block;
}


/*
width: 76%;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
margin-bottom: 27px;




.icon {
background: url('../img/uol logo.png');
background-size: contain;
height: 18px;
width: 18px;
display: inline-block;
}

*/
